body {
  background-color: black;
  background-image: url('./background.gif');
  color: white;
  font-family: monospace;
  font-size: 30px;
  text-transform: lowercase;
}

a {
  color: plum;
  background-color: black;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-transform: uppercase;
}

div#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10% 10% 0 10%;
}

div#appdiv {
  width: 50%;
}

nav {
  display: flex;
  justify-content: space-between;
}

h1 {
  color: white;
  background-color: black;
  font-size: 3.5rem;
  letter-spacing: .25rem;
  text-align: center;
  text-shadow:
  -3px -3px 0 #000,
  3px -3px 0 #000,
  -3px 3px 0 #000,
  3px 3px 0 #000;
}

form {
  text-align: center;
}

textarea {
  font-family: monospace;
  font-size: 1rem;
}